/* @tailwind base;
@tailwind components;
@tailwind utilities; */

.header {
  display: flex;
  justify-content: space-between;
  border: 1px solid black;
}

.logo {
    width: 128px;
}

.nav-items > ul {
    display: flex;
}

.nav-items > ul > li {
    padding: 20px;
    list-style-type: none;
}

.res-logo {
    width: 128px;
}

.res-card {
    margin: 5px;
    width: 320px;
    background-color: #f0f0f0;
}

.res-card:hover {
    cursor: pointer;
    border: 1px solid black;
}

.res-container {
    display: flex;
    flex-wrap: wrap;
}

.res-link {
    display: flex;
    flex-wrap: wrap;
    text-decoration: none;
    color: black;
}

.shim-container {
    display: flex;
    flex-wrap: wrap;
    width:1333px;
    height: 900px;
}

.shim-card {
    margin: 5px;
    width: 320px;
    height: 354px;
    background-color: #f0f0f0;
}

.filter {
    display: flex;
}

.filter-btn {
    margin-left: 5px;
}

.body {
    padding: 5px;
}

.login-btn {
    cursor: pointer;
}

.online-btn {
    background-color: greenyellow;
    border-radius: 50%;
    width: 16px;
    height: 16px;
}

.offline-btn {
    background-color: grey;
    border-radius: 50%;
    width: 16px;
    height: 16px;
}

.menu-category {
    border: 1px solid black;
    justify-content: center;
    cursor: pointer;
    width: 100%;
}

.menu-div {
    width: 100%;
}

.margin-class {
    margin: 8px;
}